body {
    height: 100vh;
    width: 100vw;
    margin: 0px;
    background-image: url(image/grassland.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.text {
    width: 3000px;
}